@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap');

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body  {
    height: 96vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* header */

#header {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    padding: 20px;
    width: 100%;
    background: #fff;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

#header #logo span {
    color:#564fcc;
}

#header nav {
    color: #000;
}

#header nav a {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 14px;
    color: #000;
    text-decoration: none;
    padding: 10px;
    text-align: center;
}

#header nav a:last-child{
    color: #fff;
    background: #564fcc;
    padding: 10px 20px;
    border-radius: 30px;
    margin-left: 30px;
}

#header nav a:hover {
    opacity: 0.9;
}



/* container */

#container {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 20px;
    height: 575 px;
}

#bg-container {
    width: 50%;
}

#bg-container img {
    width: 100%;
    height: 100%;
}

#content-container {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#content-container h1 {
    color: #564fcc;
    font-weight: 900;
    font-size: 80px;
    line-height: 80px;
    margin-bottom: 30px;
    
}

#content-container p {
    line-height: 28px;
    font-weight: 500;
}

#content-container button {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    border: none;
    outline: none;
    color: #fff;
    background: #564fcc;
    padding: 16px 0px;
    border-radius: 40px;
    font-size: 16px;
    width: 160px;
    margin-top: 30px;
    cursor: pointer;
}

#content-container button:hover {
    opacity: 0.9;
}

/* footer */

footer {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    background-color: #fff;
    padding: 100px 50px;
    text-align: center;
    color: #000;
    font-size: 12px;
}

footer a {
    color: #564fcc;
}

/* modal */

.modal {
    position: absolute;
    width: 300px;
    height: 300px;
    padding: 10px;
  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
    border-radius: 16px;
    box-shadow: 0 0 16px black;
    background: rgb(43, 43, 43);
    color: rgb(240, 240, 240);
  
    transition: opacity 0.35s;

    margin-bottom: 150px;
  }

  .hide-modal {
      display: none;
  }
  
  .modal h3 {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    padding: 10px 20px;
    font-size: 1.6rem;
    
  }
  
  .modal p {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    color: rgb(169, 169, 169);
    padding: 10px 20px;
    font-size: 0.8rem;
    text-align: center;
  }
  
  .modal img {
    width: 50px;
    margin: 10px;
  }
  
  .modal__buttons {
    width: 200px;
    height: 30px;
    display: flex;
    margin: 20px;;
  }
  
  .modal__buttons button {
    margin: auto;
    padding: 7.5px 15px;
    border-radius: 6px;
    color: white;
    font-weight: bold;
    font-size: 0.8rem;
    cursor: pointer;
  }
  
  #btn-accept {
    border: 0;
    background: lightseagreen;
    opacity: 0.6;
    transition: all 0.35s;
  }
  
  #btn-accept:hover {
    opacity: 1;
  }
  
  #btn-accept:active {
    opacity: 1;
    background: lightskyblue;
  }
  
  #btn-deny {
    border: 0;
    background: lightcoral;
    opacity: 0.6;
    transition: all 0.35s;
  }

  #btn-deny:hover {
    opacity: 1;
  }
  
  #btn-deny:active {
    opacity: 1;
    background: lightskyblue;
  }